.content.slider
  %article
    %h1 Baldur's Gate II Mods
    .slider
      %ul.slider-controls
        %li.bordered
          %img{ src: '/images/projects/bgii_mods/bgiimods_main.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/bgii_mods/arath_1_t.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/bgii_mods/arath_2_t.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/bgii_mods/iep_1_t.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/bgii_mods/nephele_1_t.jpg', alt: '' }
      %ul.slides
        %li
          .bordered.large.right
            %img{ src: '/images/projects/bgii_mods/arath/arath-intro.png', alt: 'Arath NPC mod' }
          .description
            :markdown
              Over the last 8 years running Spellhold Studios, I've produced and helped put together an enormous amount of Baldur's Gate II mods. I began modding Baldur's Gate II in 2005, and released my first mod (the Iylos NPC for Throne of Bhaal) in 2006. Since then, I've worked on a variety of projects in many roles, but most often as a scripter to help talented writers get their work in-game. 

              The screenshots here represent dialog and quests from some of my mods, notably the Arath NPC, the Nephele NPC and the Interaction Expansion Project. Other notable mods I've worked on as a writer and coder include:

              * The Xulaye, Ninde, Darian, Yeslick, Adrian, Dace, Isra and Valerie NPCs
              * PC Voicesets
              * Spellhold Gauntlet
              * Crossmod Banter Pack
              * The Sarevok and Haer'Dalis romances
              * Aurora's Shoes and Boots
              * The IWD2NPC Project
        %li
          .bordered.large
            %img{ src: '/images/projects/bgii_mods/arath_1.jpg', alt: 'Arath NPC Mod' }
        %li
          .bordered.large
            %img{ src: '/images/projects/bgii_mods/arath_2.jpg', alt: 'Arath NPC Mod' }
        %li
          .bordered.large
            %img{ src: '/images/projects/bgii_mods/iep_1.jpg', alt: 'Interaction Expansion Project' }
        %li
          .bordered.large
            %img{ src: '/images/projects/bgii_mods/nephele_1.jpg', alt: 'Nephele NPC Mod' }
  .clear
