.content.slider
  %article
    %h1 Baldur's Gate II: Enhanced Edition 
    .slider
      %ul.slider-controls
        %li.bordered
          %img{ src: '/images/projects/bgiiee/bgiiee_main.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/bgiiee/bgiiee_1_t.jpg', alt: '' }
      %ul.slides
        %li
          .bordered.large.right
            %img{ src: '/images/projects/bgiiee/bgiiee_icon_large.png', alt: 'BGII:EE' }
          .description
            :markdown
              After doing QA Testing for Baldur's Gate: Enhanced Edition in late 2012, I was hired by Overhaul Games/Beamdog to work on Baldur's Gate II: Enhanced Edition implementing new content. 

              I quickly became the Scripting Team Lead for two of four new characters being created, Dorn and Hexxat, and was responsible for ensuring all relevant content was implemented, developed and tested for the best possible gameplay experience. I was then lucky enough to co-write three of the four new NPC romances with the talented Andrew Foley, which was an experience in itself, before being promoted to Scripting Team Lead for the new combat-oriented module "The Black Pits 2". 

              My experience modding Baldur's Gate II and running Spellhold Studios has proved invaluable while working on BGII:EE, and I am incredibly grateful to have had the opportunity to work on a new, enhanced version of my favorite game of all time. I can't wait to show the rest of the world all of the awesome improvements and additions we've been making to what is already an amazing game!
        %li
          .bordered.large
            %img{ src: '/images/projects/bgiiee/bgiiee_1.jpg', alt: 'Resurrection Gorge, BGII:EE' }
  .clear
