.content.slider
  %article
    %h1 The Biodome
    .slider
      %ul.slider-controls
        %li.bordered
          %img{ src: '/images/projects/creatures/aquatilis_1_t.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/creatures/aquatilis_1_t.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/creatures/t-biodome-2.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/creatures/t-biodome-3.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/creatures/pluvialis_1_t.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/creatures/pluvialis_2_t.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/creatures/oasis_1_t.jpg', alt: '' }
      %ul.slides
        %li
          .description
            :markdown
              # Creatures Addons
              I first played Creatures 1 in 2002 at the age of 11, and soon became bored with the lack of objects in the game. I soon found an online community making new objects, and now over 10 years later, I've been involved in some of the most prominent and popular Creatures projects to date.

              As a Creatures developer I took on almost any project I could and threw myself into almost any role, learning about 3D modelling, texturing and animation, 2D compositing, audio manipulation, coding, project management and more. Some of the projects I worked on include:

              * Aquatilis Caverna 
              * Terra Pluvialis
              * The Biodome 
              * The Oasis
              * The Lost Cave
              * Creatures 2 to Docking Station
        %li
          .bordered.large
            %img{ src: '/images/projects/creatures/aquatilis_1.jpg', alt: 'Aquatilis Caverna' }
        %li
          .bordered.large
            %img{ src: '/images/projects/creatures/biodome-2.jpg', alt: 'The Biodome' }
        %li
          .bordered.large
            %img{ src: '/images/projects/creatures/biodome-3.jpg', alt: 'The Biodome' }
        %li
          .bordered.large
            %img{ src: '/images/projects/creatures/pluvialis_1.jpg', alt: 'Terra Pluvialis' }
        %li
          .bordered.large
            %img{ src: '/images/projects/creatures/pluvialis_2.jpg', alt: 'Terra Pluvialis' }
        %li
          .bordered.large
            %img{ src: '/images/projects/creatures/oasis_1.jpg', alt: 'Terra Pluvialis' }
