.content.slider
  %article
    %h1 Creatures 2 to Docking Station
    .slider
      %ul.slider-controls
        %li.bordered
          %img{ src: '/images/projects/creatures/aquatilis_1_t.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/c2tods/c2tods_1_t.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/c2tods/c2tods_2_t.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/c2tods/c2tods_3_t.jpg', alt: '' }
        %li.bordered
          %img{ src: '/images/projects/c2tods/c2tods_4_t.jpg', alt: '' }
      %ul.slides
        %li
          .bordered.large.right
            %img{ src: '/images/projects/c2tods/c2tods_icon.png', alt: 'C2toDS' }
          .description
            :markdown
              The game world of "Creatures 2" is widely regarded to be the most beautiful and interesting of the entire Creatures series. Unfortunately, the Creatures 2 engine is incredibly outdated and doesn't work on many modern systems. Creatures 2 to Docking Station was a project to port the game to the newer "Creatures Docking Station" engine, with a number of enhancements and additions along the way.

              Working with the primary developer, I helped to plan and conceptualise the new gameplay elements to ensure they fit with the game world. I revamped and implemented flora and fauna, and did a large amount of testing and bugfixing for the initial release of the project. 

              Creatures 2 to Docking Station was first released in May 2010. It is one of the most popular mods for Creatures Docking Station, and we are currently working on a new version for release in 2014.
        %li
          .bordered.large
            %img{ src: '/images/projects/c2tods/c2tods_1.jpg', alt: 'Creatures 2 to Docking Station' }
        %li
          .bordered.large
            %img{ src: '/images/projects/c2tods/c2tods_2.jpg', alt: 'Creatures 2 to Docking Station' }
        %li
          .bordered.large
            %img{ src: '/images/projects/c2tods/c2tods_3.jpg', alt: 'Creatures 2 to Docking Station' }
        %li
          .bordered.large
            %img{ src: '/images/projects/c2tods/c2tods_4.jpg', alt: 'Creatures 2 to Docking Station' }
  .clear
